.container{
    width: 800px;
    
}
.table1{
    
    border: 1px solid black;
    width: auto;

}
.table_col{
    padding: 5px;
    
    font-size: 1.2rem;    
    font-style: initial bold;
    /*color: #B3BF54;*/
    
}