body{padding: 1rem;}

.container{
    width: 1200px;
    margin:0 auto;
}

/*screen larger than 600 px, 2 column*/
@media(min-width: 600px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width : 900px){
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
}
.our_law_big{
    height: auto;
    width: 800px;

}
p{
    text-align: justify;
}
.big_img{
    /*border-radius: 90%;  */
    border: 1px solid #B3BF54;
    border-color: #B3BF54; 
}
.big_img:hover{
    /*transform: rotate(90deg);
    border-radius: 80%;*/
    border-color: #b3c04d;
}