body{padding: 1rem;}

.container{
    width: 800px;
    margin:0 auto;
}
.card{
    background-color: rgb(108, 108, 243);
    color:white;
    padding: 1rem;
    height: auto;
}
.cards{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}
/*screen larger than 600 px, 2 column*/
@media(min-width: 600px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width : 900px){
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
}
.our_law_big{
    height: auto;
    width: 800px;

}
p{
    text-align: justify;
}